header {
    width: 1420px;
}
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0 auto;
    width: 1420px;
}

.container {
    margin: 0 auto;
}
.main-header {
    width: 1420px;
    height: 105px;
}
.login {
    position: relative;
    display: flex;
    align-items: center;
}
.logo {
    position: relative;
}
.logo__icon1,
.logo__icon2,
.logo__icon3,
.logo__icon4 {
    position: absolute;
    width: 60px;
}
.logo__icon1 {
    top: -54px;
    left: 60px;
}
.logo__icon2 {
    top: -7px;
    left: 0px;
}
.logo__icon3 {
    top: -101px;
    left: 60px;
}
.logo__icon4 {
    top: -54px;
    left: 2px;
}
.logo__link {
    display: block;
    margin-left: 143px;
    padding-top: 18px;
}
.address {
    display: flex;
    flex-direction: column;
    padding-left: 580px;
    padding-top: 6px;
}
.address a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    color: #061058;
    margin-top: 7px;
}
.login a {
    position: relative;
    text-decoration: none;
}
.login-button {
    display: block;
    margin-left: 20px;
    width: 245px;
    height: 72px;
    margin-top: 16px;
    background-color: #00a87c;
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}
.login-button::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    position: absolute;
    top: 47px;
    left: 219px;

    background-image: url(../img/arrow.svg);
}
.login__icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 41px;
    left: 50px;
}
.bg-item1 {
    position: absolute;
    width: 65px;
    height: 32px;
    top: 75px;
    left: 800px;
}
.bg-item2 {
    position: absolute;
    width: 47px;
    height: 47px;
    right: 0;
    top: 60px;
}
.main-banner {
    position: relative;
    width: 1420px;
    height: 403px;
    background: linear-gradient(
        51.39deg,
        #0065bd 66.32%,
        #0759a5 72.87%,
        #033a84 81.3%,
        #012670 88.35%,
        #001f69 93.12%,
        #0f181d 116.4%
    );
}
.banner-bg-item1 {
    width: 513px;
    height: 403px;
    opacity: 0.2;
}
.banner-bg-item2 {
    width: 87px;
    height: 217px;
    position: absolute;
    right: 0;
}
.banner-bg-item3 {
    position: absolute;
    right: 87px;
}
.banner-bg-item-dva {
    position: absolute;
    width: 224px;
    height: 334px;
    right: 0;
    bottom: 0;
}
.banner-bg-item4 {
    width: 74px;
    height: 74px;
    position: absolute;
    right: 400px;
    top: 15px;
    opacity: 0.8;
}
.banner-bg-item5 {
    width: 74px;
    height: 74px;
    position: absolute;
    right: 550px;
    bottom: 80px;
    opacity: 0.8;
}
.banner-bg-item6 {
    width: 74px;
    height: 74px;
    position: absolute;
    right: 60px;
    bottom: 60px;
    opacity: 0.8;
}
.banner-bg-item7 {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 450px;
    bottom: 10px;
}
.banner-bg-item8 {
    width: 54px;
    height: 54px;
    position: absolute;
    right: 430px;
    bottom: 20px;
    opacity: 0.8;
}
.banner-bg-item9 {
    width: 86px;
    height: 88px;
    position: absolute;
    bottom: 41px;
    left: 114px;
}
.banner-bg-item10 {
    width: 86px;
    height: 88px;
    position: absolute;
    bottom: 41px;
    left: 340px;
}
.banner-bg-item11 {
    width: 39px;
    height: 45px;
    position: absolute;
    bottom: 59px;
    left: 144px;
}
.banner-bg-item12 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 73px;
    left: 130px;
}
.banner-bg-item13 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 52px;
    left: 366px;
}
.banner-bg-item14 {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 73px;
    left: 358px;
}

.banner-link {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 165px;
    bottom: 55px;
    right: 486px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    background-color: #ff5f79;
}
.banner-link::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url(../img/airplane.svg);
    width: 11px;
    height: 20px;
    left: 13px;
    bottom: 13px;
}
.banner-text1 {
    position: absolute;
    left: 114px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 50px;
}
.banner-text2 {
    width: 700px;
    position: absolute;
    left: 114px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 90px;
}
.banner-text3 {
    width: 650px;
    position: absolute;
    left: 114px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 200px;
}
.banner-text3 span {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text4 {
    position: absolute;
    left: 114px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text4 {
    position: absolute;
    left: 210px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text4 span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text4 span:nth-child(2) {
    position: absolute;
    width: 200px;
    left: 0;
    bottom: -20px;
    font-weight: 300;
    font-size: 14px;
}
.banner-text5 {
    position: absolute;
    left: 435px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text5 span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text5 span:nth-child(2) {
    position: absolute;
    width: 300px;
    left: 0;
    bottom: -38px;
    font-weight: 300;
    font-size: 14px;
}
.benefits {
    padding-bottom: 100px;
}
.benefits-title {
    color: #061058;
    display: block;
    padding-left: 163px;
    width: 574px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.08em;
    padding-top: 70px;
}
.benefits-position {
    display: flex;
}
.benefits-position img {
    padding-left: 82px;
}
.study-title {
    width: 400px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #00a87c;
    padding-left: 50px;
}
.study-list {
    padding-top: 42px;
    list-style: none;
    padding-left: 0;
}
.study-list li {
    display: flex;
    align-items: center;
    width: 410px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px
    color: #061058;
}
.study-list li::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 29px;
}
.study-duration {
    padding-left: 54px;
    display: flex;
    position: relative;
}
.study-duration::before {
    content: "";
    width: 2px;
    height: 180px;
    display: inline-block;
    background: url(../img/verticalline.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}
.study-duration-title {
    font-style: normal;
    width: 450px;
    font-weight: 300;
    font-size: 14px;
    color: #061058;
}
.study-duration-pos {
    padding-left: 19px;    
}
.first-step {
    margin-top: 24px;
    padding-left: 64px;
    position: relative;
}
.first-step span:nth-child(1) {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #061058;
}
.first-step span:nth-child(2) {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: #061058;
    margin-top: 8px;
}
.second-step {
    margin-top: 24px;
    padding-left: 64px;
    
}
.second-step span:nth-child(1) {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #061058;
}
.second-step span:nth-child(2) {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: #061058;
    margin-top: 8px;
}
.study-duration-img1 {
    position: absolute;
    width: 50px;
    height: 51px;
    top: 42px;
    left: 65px;
}
.study-duration-img2 {
    position: absolute;
    width: 50px;
    height: 51px;
    top: 116px;
    left: 65px;
}
.study-duration-img3 {
    position: absolute;
    width: 12px;
    height: 20px;
    top: 60px;
    left: 83px;
}
.study-duration-img4 {
    position: absolute;
    width: 12px;
    height: 20px;
    top: 60px;
    left: 96px;
}
.study-duration-img5 {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 50px;
    left: 75px;
}
.study-duration-img6 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 128px;
    left: 79px;
}
.study-duration-img7 {
    position: absolute;
    width: 23px;
    height: 21px;
    top: 126px;
    left: 77px;
}
.course-pos {
    display: flex;
    padding-left: 225px;
}
.course-pos img {
    width: 367px;
    height: 361px;
    padding-top: 40px;
    z-index: 2;

}
.course-title {
    font-weight: 700;
    font-size: 20px;
    color: #061058;
    text-transform: uppercase;
    text-align: center;
}
.course {
    position: relative;
    width: 1420px;
    height: 485px;
    background: #F8F8FB;
}
.course-item {
    padding-top: 186px;
    width: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 73px;
}
 .main-text {
    display: block;
    text-align: center;
    color: #061058;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 700;
}
.course-item p {
    font-size: 14px;
    text-align: center;
    color: #061058;
}
.course-img1 {
    display: inline-block;
    width: 120px;
    height: 123px;
    position: absolute;
    top: 115px;
    left: 207px;
}
.course-img2 {
    display: inline-block;
    width: 120px;
    height: 123px;
    position: absolute;
    top: 115px;
    left: 399px;
}
.course-img3 {
    display: inline-block;
    width: 120px;
    height: 123px;
    position: absolute;
    top: 115px;
    left: 590px;
}
.course-img4 {
    display: inline-block;
    width: 120px;
    height: 123px;
    position: absolute;
    top: 115px;
    left: 782px;
}
.course-img5 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 161px;
    left: 262px;
}
.course-img6 {
    position: absolute;
    width: 30px;
    height: 45px;
    top: 140px;
    left: 250px;
}
.course-img7 {
    position: absolute;
    width: 70px;
    height: 52px;
    top: 142px;
    left: 429px;
}
.course-img8 {
    position: absolute;
    width: 70px;
    height: 52px;
    top: 142px;
    left: 619px;
}
.course-img9 {
    position: absolute;
    width: 70px;
    height: 52px;
    top: 142px;
    left: 807px;
}
.course-main-title {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 210px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #061058;
}
.course-img10 {
    width: 946px;
    height: 5px;
    position: absolute;
    bottom: 219px;
    left: 136px;
}
.course-img11 {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 234px;
    left: 282px;
}
.course-img12 {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 234px;
    left: 473px;
}
.course-img13 {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 234px;
    left: 663px;
}
.course-img14 {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 234px;
    left: 853px;
}
.course-img15 {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 199px;
    left: 272px;
}
.course-img16 {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 199px;
    left: 463px;
}
.course-img17 {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 199px;
    left: 653px;
}
.course-img18 {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 199px;
    left: 844px;
}
.course-img19 {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 212px;
    left: 280px;
}
.course-img20 {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 212px;
    left: 471px;
}
.course-img21 {
    width: 18px;
    height:18px;
    position: absolute;
    bottom: 212px;
    left: 661px;
}
.course-img22 {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 212px;
    left: 852px;
}
.footer {
    height: 80px;
    background: #046FB7;
    
}
.footer a {
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    padding-left: 154px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer a::before {
    content: "";
    display: inline-block;
    background: url(../img/mailicon.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 19px;
    padding-right: 15px;
}
